{% extends 'base.html.twig' %}

{% import 'components/button.html.twig' as button %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="backgroundLogin">
    <img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">
<form class="loginForm" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1>Login</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="submitBtn" type="submit">
        Sign in
    </button>
</form>
</div>

<style>
    body {
        background-color: #00071F;
    }

    .milkyWay {
        position: absolute;
        mix-blend-mode: color-dodge;
        top: 0;
        left: 0;
        width: 120%;
        height: auto;
        z-index: -1;
    }

    .loginForm {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        gap: 10px;
        width: 280px;
        height: 380px;
        background: radial-gradient(circle at right bottom, #ffffff00, #ffffff15);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 4px;
        box-shadow: 0px 0px 10px #00000055;
        border: 1px solid #ffffff22;
    }

    .loginForm h1, .loginForm input{
        margin-bottom: 10%;
    }

    .submitBtn {
        padding: 6px 22px;
        background: linear-gradient(to top right, #F33A00, #F3002C);
        box-shadow: 0px 0px 10px #00000055;
        border: 1px solid #ffffff22;
        color: white;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s ease;
        filter: brightness(1);
    }

    .submitBtn:hover {
        border: 1px solid #ffffff;
        box-shadow: 0px 5px 15px #ff5272;
        filter: brightness(2);
    }

</style>
{% endblock %}
