{% extends 'base.html.twig' %}

{% import 'components/button.html.twig' as button %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="backgroundLogin">
    <img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">
    <form class="loginForm" method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div>
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}

        <h1>Login</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required
            autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="submitBtn" type="submit">
            Sign in
        </button>

        <a class="dropAuthForm" href="{{ path('app_register') }}">Or register</a>
    </form>
</div>

{% endblock %}