{# templates/resort_form/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Resort Form{% endblock %}

{% block body %}
<img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">
<div class="resortForm">
    <i class="fa-solid fa-location-dot"></i>
    <h1>Resort Form</h1>

    <form method="post" action="{{ path('app_booking') }}">
        {{ form_start(form) }}


        <h2>Resorts</h2>

        {% for choice in form.name %}
        <div>
            {{ form_widget(choice) }}
            {{ form_label(choice) }}
        </div>
        {% endfor %}

        <button type="submit">Add Resort</button>

        {{ form_end(form) }}
    </form>

    <a class="dropToBooking" href="{{ path('app_booking') }}"><i class="fa-solid fa-power-off"></i></a>

</div>


<style>
    body {
        background-color: #00071F;
        user-select: none;
    }

    .milkyWay {
        pointer-events: none;
        position: absolute;
        mix-blend-mode: color-dodge;
        top: 0;
        left: 0;
        width: 120%;
        height: 100vh;
        z-index: -1;
    }

    .resortForm {
        width: 300px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        color: white;
        background-color: #ffffff15;
    }

    .resortForm ul li {
        margin-bottom: 20px;
    }


    .dropToBooking {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff30;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
    }
</style>
{% endblock %}