{# templates/resort_form/index.html.twig #}

{% extends 'base.html.twig' %}
{% import 'components/button.html.twig' as button %}

{% block title %}Resort Form{% endblock %}

{% block body %}
<img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">

<div class="resortFormContainer">

    <div class="resortForm">

        <div class="resortFormTitle">
            <i class="fa-solid fa-location-dot"></i>
            <h1>Resort choice</h1>
        </div>


        <form class="resortFormulaire" method="post" action="{{ path('app_booking') }}">
            {{ form_start(form) }}

            {% for choice in form.name %}
            <div>
                {{ form_widget(choice) }}
                {{ form_label(choice) }}
            </div>
            {% endfor %}

            <button type="submit" class="submitBtn">Add Resort</button>

            {{ form_end(form) }}
        </form>

        <a class="resortFormBtn" href="{{ path('app_resorts') }}">See others resorts</a>

    </div>

    <a class="dropToBooking" href="{{ path('app_booking') }}"><i class="fa-solid fa-power-off"></i></a>


</div>
{% endblock %}