{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="backgroundLogin">
    <img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">

    <div class="registerForm">
        
        {{ form_errors(registrationForm) }}
        <!-- {{ form_start(registrationForm, {'attr': {'class': 'registerForm'}}) }} -->
        {{ form_start(registrationForm) }}
        <h1>Register</h1>

        <div class="labelRegister">
            {{ form_row(registrationForm.first_name) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.last_name) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.pseudo) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.lang) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.phone) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.city) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.email) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>

        <div class="labelRegister">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="submitBtn">Register</button>

        {{ form_end(registrationForm) }}
        <a class="dropAuthForm" href="{{ path('app_login') }}">Or login</a>
    </div>
</div>


{% endblock %}
