{# templates/user_dashboard/dashboard.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
{% block button %}
<div class="dashboardComplete">
    <img class="imgDashboard" id="dashboardImage" src="{{ asset('img/Dashboard/background_dashboard_7.jpg') }}" alt="Dashboard image">
    <div class="imgCoverBottom"></div>

    <div class="dashboardContainer">

        <div class="leftSection">
            <div class="userInfo">
                <div class="titleSection">
                    <i class="fa-solid fa-user"></i>
                    <p>User informations</p>
                </div>
                <a class="imgAvatarLink" id="avatarLink" href="#"><img src="{{ asset('img/Dashboard/avatar_1.jpg') }}"
                        alt="Avatar"></a>


                <div class="informationSection">
                    <div class="detailSection">
                        <i class="fa-regular fa-user"></i>
                        <p>{{ user.getFirstName() ~ ' ' ~ user.getLastName() }}</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-user-astronaut"></i>
                        <p>{{ user.getPseudo() }}</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-fingerprint"></i>
                        <p>{{ user.getId() }}</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-regular fa-flag"></i>
                        <p>{{ user.getLang() }}</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-at"></i>
                        <p>{{ user.getEmail() }}</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <p>{{ user.getPhone() }}</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <p>{{ user.getCity() }}</p>
                    </div>
                </div>

                <div class="btnComponents">
                    {% include 'components/button.html.twig' with {'textBtn': 'Edit', 'linkUrl': '/profile'} %}
                </div>



            </div>

            <div class="bookingSummary">
                <div class="titleSection">
                    <i class="fa-solid fa-calendar-check"></i>
                    <p>Summary of current booking</p>
                </div>

                <div class="btnComponents">
                    {% include 'components/button.html.twig' with {'textBtn': 'Summary', 'linkUrl': '#'} %}
                </div>

            </div>
        </div>

        <div class="middleSection">
            <div class="imageContent">
                <a class="imgDashboardTargeted" id="imageLink" href="#"><img
                        src="{{ asset('img/Dashboard/background_dashboard_7.jpg') }}" alt="Dashboard Background"></a>
            </div>

            <div class="commentSection">
                <div class="titleSection">
                    <i class="fa-solid fa-comment"></i>
                    <p>Comment</p>
                </div>

                <div class="informationSection">
                    <div class="detailSection">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <p>Your experience</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-regular fa-star"></i>
                        <p>⭐⭐⭐⭐☆</p>
                        {# Ajoutez système de notation par étoiles #}
                    </div>

                    <div class="detailSection">
                        <p>Comment : </br>
                            This holiday was a feast for the eyes and the senses. It was a unique experience that
                            transported my wife and I into a nightmarish world, but one that is so appealing that we're
                            thinking of going back. Maybe to the Frost Ballet or the Nocturnal Enigma. What a choice ! I
                            wouldn't give it 5 stars because the food isn't very tasty. But I know that there will soon
                            be new vegetable gardens cultivated on Martian soil. Can't wait to taste it !</p>
                    </div>

                </div>

                <div class="btnComponents">
                    {% include 'components/button.html.twig' with {'textBtn': 'Add comment', 'linkUrl': '#'} %}
                </div>

            </div>
        </div>

        <div class="rightSection">
            <div class="bookingHistory">
                <div class="titleSection">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <p>Booking history</p>
                </div>

                <div class="informationSection">
                    <div class="detailSection">
                        <i class="fa-regular fa-circle-dot"></i>
                        <p>RESORT : Texte dynamique</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-house"></i>
                        <p>ACCOMODATION : Texte dynamique</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-regular fa-calendar"></i>
                        <p>LENGTH OF STAY : Texte dynamique</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-calendar-days"></i>
                        <p>START STAY : Texte dynamique</p>
                    </div>
                </div>

            </div>

            <div class="customerSupport">
                <div class="titleSection">
                    <i class="fa-solid fa-gear"></i>
                    <p>Customer support</p>
                </div>

                <div class="informationSection">
                    <div class="detailSection">
                        <i class="fa-regular fa-circle-question"></i>
                        {% include 'components/button.html.twig' with {'textBtn': 'See the FAQ', 'linkUrl': '#'} %}
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-circle-info"></i>
                        <p>If you cannot find an answer,</br>please contact us :</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-at"></i>
                        <p>Support email : support@spacetrip.com</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-solid fa-phone"></i>
                        <p>Phone : +012 34 56 789</p>
                    </div>

                    <div class="detailSection">
                        <i class="fa-regular fa-envelope"></i>
                        <p>Post : Av. Jean Gonord 31500 Toulouse</p>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>


        <div id="avatarModal" class="modal">
            <div class="modalContent ">
                <p>Select your avatar</p>
                <div class="avatarList">
                    <img src="{{ asset('img/Dashboard/avatar_1.jpg') }}" alt="Avatar 1"
                        onclick="changeAvatar(this.src)">
                    <img src="{{ asset('img/Dashboard/avatar_2.jpg') }}" alt="Avatar 2"
                        onclick="changeAvatar(this.src)">
                    <img src="{{ asset('img/Dashboard/avatar_3.jpg') }}" alt="Avatar 3"
                        onclick="changeAvatar(this.src)">
                    <img src="{{ asset('img/Dashboard/avatar_4.jpg') }}" alt="Avatar 4"
                        onclick="changeAvatar(this.src)">
                    <img src="{{ asset('img/Dashboard/avatar_5.jpg') }}" alt="Avatar 5"
                        onclick="changeAvatar(this.src)">
                </div>
            </div>
        </div>






        <div id="imageModal" class="modal">
            <div class="modalContent ">
                <p>Select your background image</p>
                <div class="imageList">
                    <img src="{{ asset('img/Dashboard/background_dashboard_1.jpg') }}" alt="Image 1"
                        onclick="changeImage(this.src)">
                    <img src="{{ asset('img/Dashboard/background_dashboard_2.jpg') }}" alt="Image 2"
                        onclick="changeImage(this.src)">
                    <img src="{{ asset('img/Dashboard/background_dashboard_3.jpg') }}" alt="Image 3"
                        onclick="changeImage(this.src)">
                    <img src="{{ asset('img/Dashboard/background_dashboard_4.jpg') }}" alt="Image 4"
                        onclick="changeImage(this.src)">
                    <img src="{{ asset('img/Dashboard/background_dashboard_5.jpg') }}" alt="Image 5"
                        onclick="changeImage(this.src)">
                    <img src="{{ asset('img/Dashboard/background_dashboard_6.jpg') }}" alt="Image 6"
                        onclick="changeImage(this.src)">
                    <img src="{{ asset('img/Dashboard/background_dashboard_7.jpg') }}" alt="Image 7"
                        onclick="changeImage(this.src)">
                    <img src="{{ asset('img/Dashboard/background_dashboard_8.jpg') }}" alt="Image 8"
                        onclick="changeImage(this.src)">
                </div>
            </div>
        </div>


    </div>
</div>







<style>
    body {
        margin: 0;
        padding: 0;
        overflow: auto;
        background-color: #00071F;
        user-select: none;
    }

    .dashboardComplete {
        width: 100%;
        top: 0;
    }

    .imgDashboard {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        object-position: 50% 50%;
        object-fit: cover;
        width: 100%;
        z-index: -1;
    }

    .imgCoverBottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 250px;
        background: linear-gradient(to top, #00071F 10%, #00071F00);
    }

    .dashboardContainer {
        margin: 100px 30px 20px 30px;
        height: 100vh;
        gap: 20px;
        display: flex;
        justify-content: center;
    }

    .leftSection,
    .middleSection,
    .rightSection {
        width: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }

    @media only screen and (max-width: 750px) {
        .dashboardComplete {
            height: 250%;
        }

        .imgDashboard {
            height: 250%;
        }

        .dashboardContainer {
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }

        .leftSection,
        .middleSection,
        .rightSection {
            width: 380px;
        }
    }

    @media only screen and (max-width: 400px) {

        .leftSection,
        .middleSection,
        .rightSection {
            width: 260px;
        }
    }


    .imgDashboardTargeted {
        margin: auto;
        position: relative;
        display: inline-block;
        color: white;
    }

    .imgDashboardTargeted img {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 0px 10px #00000055;
        border: 1px solid #ffffff22;
    }

    .imgDashboardTargeted::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
        content: 'Change image';
        opacity: 0;
    }

    .imgDashboardTargeted:hover::after {
        opacity: 1;
    }



    .imgAvatarLink,
    .imageLink {
        margin: auto;
        position: relative;
        display: inline-block;
        color: white;
    }

    .imgAvatarLink img,
    .imageLink img {
        width: 100px;
        border-radius: 50%;
        border: 3px solid #F33A00;
        box-shadow: 0px 4px 10px #00000088;
    }

    .imgAvatarLink::after,
    .imageLink::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
        content: 'Change avatar';
        opacity: 0;
    }

    .imgAvatarLink:hover::after,
    .imageLink:hover::after {
        opacity: 1;
    }



    .btnComponents {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }



    .userInfo,
    .bookingSummary,
    .imageContent,
    .commentSection,
    .bookingHistory,
    .customerSupport {
        color: white;
        text-shadow: 0px 0px 4px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;
        width: 100%;
        padding: 20px;
        background: radial-gradient(circle at right bottom, #ffffff00, #ffffff15);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 4px;
        box-shadow: 0px 4px 12px #00000055;
        border: 1px solid #ffffff22;
    }

    .titleSection {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    .informationSection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .detailSection {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 12px;
    }

    .detailSection p {
        padding: 5px;
        background: radial-gradient(circle at right bottom, #ffffff00, #ffffff15);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 2px;
        box-shadow: 0px 4px 12px #00000055;
        border: 1px solid #ffffff22;

    }

    .detailSection i,
    .titleSection i {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background: linear-gradient(to top right, #F33A00, #F3002C);
        border-radius: 2px;
    }






    .modal,
    .backgroundModal {
        display: none;
        position: fixed;
        top: 0;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #000000cc;
    }

    .modalContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10%;
        text-align: center;
        color: white;
        font-size: 15px;
        gap: 10px;
        padding: 20px;
        width: 280px;
        padding: 5px;
        background: radial-gradient(circle at right bottom, #ffffff30, #ffffff45);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 2px;
        box-shadow: 0px 4px 80px 12px black;
        border: 1px solid #ffffff22;
    }

    .avatarList,
    .imageList {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .avatarList img,
    .imageList img {
        width: 100px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #ffffff22;
        transition: 0.3s;
    }

    .avatarList img:hover,
    .imageList img:hover {
        filter: brightness(1.5);
    }
</style>




<script>
    // fenêtre modale
    var modal = document.getElementById('avatarModal');
    var backgroundModal = document.getElementById('imageModal');

    // lien img avatar
    var avatarLink = document.getElementById('avatarLink');
    var imageLink = document.getElementById('imageLink');



    // ouvre la fenêtre modale au click de l'avatar
    avatarLink.onclick = function () {
        modal.style.display = 'block';
    };

    // ouvre la fenêtre modale au click de l'image de fond
    imageLink.onclick = function () {
        backgroundModal.style.display = 'block';
    };



    // Lorsque l'utilisateur clique n'importe où à l'extérieur de la fenêtre modale, fermez-la
    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
        if (event.target === backgroundModal) {
            backgroundModal.style.display = 'none';
        }
    };



    // Fonction pour changer l'avatar et ferme fenêtre après select
    function changeAvatar(newSrc) {
        var avatarImage = document.querySelector('#avatarLink img');
        avatarImage.src = newSrc;
        modal.style.display = 'none';
    }

    // Fonction pour changer l'image de fond et ferme fenêtre après select
    function changeImage(newSrc) {
    var backgroundImage = document.querySelector('#imageLink img');
    backgroundImage.src = newSrc;

    // Mise à jour de l'image imgDashboard
    var dashboardImage = document.getElementById('dashboardImage');
    dashboardImage.src = newSrc;

    backgroundModal.style.display = 'none';
}
</script>

{% endblock %}