{% extends 'base.html.twig' %}

{% block body %}


<div>
    <img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">


    <div class="updateForm">
        <h2>Update User profile</h2>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.pseudo) }}
        {{ form_row(form.lang) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.city) }}

        <a href="{{ path('app_dashboard') }}"><button type="submit" value="save" class="submitBtn">Update</button></a>


        {{ form_end(form) }}
        <a class="dropAuthForm" href="{{ path('app_dashboard') }}">Cancel</a>
    </div>
</div>



{% endblock %}