{% extends 'base.html.twig' %}




{% import 'components/button.html.twig' as button %}

{% block body %}
<img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">

<div class="stayForm">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="headerLineContainer">
        <i class="fa-solid fa-rocket"></i>
        <h1>Your personalized stay</h1>
    </div>


    <div class="resortLineContainer">
        <div class="resortLineContainerLeft">
            {{ form_row(form.resort) }}
            {{ form_row(form.number_of_travelers) }}
            <div class="btn">
                {% include 'components/button.html.twig' with {'textBtn': 'See others resorts', 'linkUrl': '/resorts'}
                %}
            </div>
        </div>

        <div class="resortLineContainerRight">
            <div id="startingPriceContainer">
                {% if form.starting_price is defined %}
                Starting Price: <span id="dynamicStartingPrice"></span>
                {% endif %}
            </div>

            <div id="totalPriceContainer">
                {% if form.starting_price is defined %}
                Total Price: <span id="dynamicTotalPrice"></span>
                {% endif %}
            </div>
        </div>
    </div>




    <div class="accommodationLineContainer">
        <div class="accommodationLineContainerLeft">
            {{ form_row(form.accommodation) }}
        </div>

        <div class="accommodationLineContainerRight">
            {% if form.accommodation_price is defined %}
            Accommodation Price: <span id="dynamicAccommodationPrice"></span>
            {% endif %}
        </div>
    </div>





    <div class="durationLineContainer">
        <div class="durationLineContainerLeft">
            {{ form_row(form.duration_weeks) }}
            {{ form_row(form.check_in) }}
            {{ form_row(form.check_out) }}
        </div>

        <div class="durationLineContainerRight">
            {{ form_row(form.price_depend) }}
        </div>

    </div>


    <div class="extraLineContainer">
        <div class="extraLineContainerLeft">
            {{ form_row(form.extra_activities) }}
        </div>

        <div class="extraLineContainerRight">
            {{ form_row(form.extra_price) }}
        </div>
    </div>


    {{ form_row(form.total_amount) }}


    {{ form_row(form.submit) }}

    {{ form_end(form) }}

    <a class="dropToBooking" href="{{ path('app_dashboard') }}"><i class="fa-solid fa-power-off"></i></a>

</div>









<!-- ////////////////////////////////////////// SCRIPT ////////////////////////////////////////// -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const disableSelectOption = (selectField) => {
            let initialOption = true;

            selectField.addEventListener('change', function () {
                // Désactiver l'option "Select" après le premier changement
                if (initialOption) {
                    selectField.options[0].disabled = true;
                    initialOption = false;
                }

                // Autres actions à effectuer lorsque le champ change
            });
        };




        // Selecteurs des champs du formulaire
        const resortField = document.querySelector('[data-id="form_resort"]');
        const numberOfTravelersField = document.querySelector('[data-id="form_number_of_travelers"]');
        const accommodationField = document.querySelector('[data-id="form_accommodation"]');

        // Boites a remplir avec les données selectionnées dynamiquement
        const dynamicStartingPriceSpan = document.getElementById('dynamicStartingPrice');
        const dynamicTotalPriceSpan = document.getElementById('dynamicTotalPrice');
        const dynamicAccommodationPriceSpan = document.getElementById('dynamicAccommodationPrice');



        // La condition vérifie la présence des fields et de leurs boites respectives
        if (resortField && dynamicStartingPriceSpan && numberOfTravelersField && dynamicTotalPriceSpan && accommodationField && dynamicAccommodationPriceSpan) {
            disableSelectOption(resortField && numberOfTravelersField && accommodationField);



            // Écoute les changements du selecteur de resort
            resortField.addEventListener('change', function () {
                // Récupérer la valeur sélectionnée du resort
                const selectedResortId = resortField.value;

                // Faire une requête AJAX pour récupérer le starting_price du resort sélectionné
                fetch('{{ path('get_starting_price', {'id': '__id__'}) }}'.replace('__id__', selectedResortId))
                    .then(response => response.json())
                    .then(data => {
                        // Mettre à jour dynamiquement le contenu du dynamicStartingPriceSpan
                        dynamicStartingPriceSpan.textContent = data.startingPrice + ' CC';
                        // Passe plat pour garder la valeur du prix sans le "CC"
                        dynamicStartingPriceSpan.dataset.value = data.startingPrice
                        dynamicTotalPriceSpan.textContent = data.startingPrice + ' CC';
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération du starting_price :', error);

                    });
            });




            // Écoute les changements du selecteur du nombre de voyageur
            numberOfTravelersField.addEventListener('change', function () {
                dynamicTotalPriceSpan.textContent = (dynamicStartingPriceSpan.dataset.value * numberOfTravelersField.value) + ' CC'
            });





            // Écoute les changements du selecteur de Accommodation
            accommodationField.addEventListener('change', function () {
                // Récupérer la valeur sélectionnée de ;
                const selectedAccommodationId = accommodationField.value;

                // Faire une requête AJAX pour récupérer le price du accommodation sélectionné
                fetch('{{ path('get_accommodation_price', {'id': '__id__'}) }}'.replace('__id__', selectedAccommodationId))
                    .then(response => response.json())
                    .then(data => {
                        // Mettre à jour dynamiquement le contenu du dynamicAccommodationPriceSpan
                        dynamicAccommodationPriceSpan.textContent = data.price + ' CC';
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération du price :', error);
                    });
            });




        } else {
            console.error('Les éléments suivants sont null :', {
                resortField,
                dynamicStartingPriceSpan,
                numberOfTravelersField,
                dynamicTotalPriceSpan,
                accommodationField,
                dynamicAccommodationPriceSpan,
            });
            console.error('Les éléments resortField ou dynamicStartingPriceSpan sont null.');
        }

        if (numberOfTravelersField) {
            disableSelectOption(numberOfTravelersField);
        }
    });
</script>




{% endblock %}